n8n/hitl_notification.json
{
  "name": "DecodedSix — HITL Notification",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook — Supabase Article Event",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "parameters": {
        "httpMethod": "POST",
        "path": "decodedsix/hitl",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "filter-pending",
      "name": "Filter — Pending Review Only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 0],
      "parameters": {
        "jsCode": "// Supabase sends the row in body.record (HTTP webhook) or record (realtime)\nconst record = $json.body?.record ?? $json.record ?? $json;\n\n// Only notify for pending_review inserts — ignore updates and other statuses\nif (record.status !== 'pending_review') {\n  return [];\n}\n\nreturn [{ json: {\n  article_id: record.id,\n  title: record.title || 'Untitled',\n  category: record.category || 'unknown',\n  article_type: record.article_type || 'N/A',\n  word_count: record.word_count || 0,\n  slug: record.slug || '',\n  created_at: record.created_at || new Date().toISOString(),\n} }];"
      }
    },
    {
      "id": "slack-notify",
      "name": "Slack — HITL Review Needed",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [480, 0],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#decodedsix-hitl"
        },
        "text": "=👀 *New article needs review*\n\n*Title:* {{ $json.title }}\n*Category:* {{ $json.category.toUpperCase() }} · {{ $json.article_type.toUpperCase() }}\n*Word count:* {{ $json.word_count.toLocaleString() }}\n\n👉 *Review now:* https://thedecodedsix.com/dashboard/queue\n\nApprove to publish. Reject to archive. Add notes to send back for revision.",
        "otherOptions": {}
      }
    }
  ],
  "connections": {
    "Webhook — Supabase Article Event": {
      "main": [[{ "node": "Filter — Pending Review Only", "type": "main", "index": 0 }]]
    },
    "Filter — Pending Review Only": {
      "main": [[{ "node": "Slack — HITL Review Needed", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": ["decodedsix", "hitl"],
  "notes": "Triggered by Supabase Database Webhook on articles table INSERT. Code node filters for pending_review status only. Sends Slack ping to #decodedsix-hitl with dashboard link. No Railway calls needed."
}
